body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f3ca;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

// #F2F3AE
// #F3F4B3
// #EFF0BD

// #EDD382
// #EED588
// #E7D196

// #FC9E4F
// #FCA258
// #F0A370

// #FF521B
// #FF5825
// #EF5E41

// #020122
// #04023A
// #060355

// #475B6A
// #455D90
